<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{ site.authors[name].name-ko }}</h2>
                <div class="text-dark text-light mb-0">{{ site.authors[name].title }}</div>
                <div>
                  {% if site.authors[name].sns.twitter %}
                      <a target="_blank" href="{{ site.authors[name].sns.twitter }}"><i class="fab fa-twitter text-muted" aria-hidden="true"></i></a>&nbsp;
                  {% endif %}
                  {% if site.authors[name].sns.facebook %}
                      <a target="_blank" href="{{ site.authors[name].sns.facebook }}"><i class="fab fa-facebook-square text-muted" aria-hidden="true"></i></a>&nbsp;
                  {% endif %}
                </div>
                <div class="my-3"><p>{{ site.authors[name].bio }}</p></div>
                <div class="my-3 excerpt">
                {% for education in site.authors[name].education %}
                  <div class="ml-1"><span>&#8728;</span> {{ education }}</div>
                {% endfor %}
                </div>
                <div>
                {% for interest in site.authors[name].interest %}
                  <span class="badge badge-success">{{ interest }}</span>
                {% endfor %}
                </div>
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.authors[name].name }}" src="{{ site.authors[name].avatar }}" class="rounded-circle" height="150" width="150">
            </div>
        </div>
        <h4 class="font-weight-bold spanborder"><span>Posts by {{page.title}}</span></h4>
            {% assign posts = site.posts | where:"author", \"{{ name }}\" %}
            {% for post in posts %}
            {% include main-loop-card.html %}
            {% endfor %}
    </div>
</div>
</div>
