
<ul class="nav bd-sidenav">
  <li class="active bd-sidenav-active">
    <a href="{{site.baseurl}}/about.html">ABOUT IREC</a>
    <p>
    연구소를 소개합니다. IREC은 고대문명연구소의 약어입니다.
    </p>
  </li>
  <li class="active bd-sidenav">
    <a href="{{site.baseurl}}/people.html">PEOPLE</a>
    <p>
    연구소 운영진을 소개합니다. 선사시대와 고대 문명, 그리고 유전학과 디지털 전문가들이 함께하고 있습니다.
    </p>
    <h6 class="mt-3"><span class="badge badge-dark">연구소장</span>&nbsp;&nbsp;심재훈</h6>
    <h6 class="mt-3"><span class="badge badge-dark">연구위원</span></h6>
    <ul>
      <li>선사시대 : 박성진</li>
      <li>메소포타미아 : 강후구, 김구원, 김아리</li>
      <li>이집트 : 곽민수, 유성환</li>
      <li>인도 : 김용준</li>
      <li>중국 : 김용하, 심재훈</li>
      <li>로마 : 반기현</li>
      <li>인류유전학 : 정충원</li>
      <li>디지털역사학 : 김광림</li>
    </ul>
    <h6 class="mt-3"><span class="badge badge-primary">중국출토문헌연구팀</span></h6>
    <ul>
      <li>김정열 金正烈</li>
      <li>김 혁 金 赫</li>
      <li>박재복 朴載福</li>
      <li>원용준 元勇準</li>
      <li>이승율 李承律</li>
    </ul>
    <h6 class="mt-3"><span class="badge badge-dark">해외자문위원</span></h6>
    <ul>
    {% for author in site.advisors %}
      <li>{{ author[1].name }}</li>
    {% endfor %}
    </ul>
  </li>
  <li class="active bd-sidenav mt-3">
    <a href="{{site.baseurl}}/contact.html">CONTACT US</a>
    <p>
    고대문명연구소에 오신 것을 환영합니다. 저희에게 궁금한 것이 있으면 언제든 연락주세요.
    </p>
    <p><a href="https://twitter.com/IrecStudy" target="_blank">twitter</a>로 문의주셔도 됩니다.</p>
  </li>
</ul>
