<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>연재 코너</span></h4>  
    <ol class="list-featured">				
        {% for section in site.sections %}                
            <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="{{site.baseurl}}categories.html#{{ section[1].path }}" class="text-dark">{{ section[1].name }}</a>
                </h6>
                <span class="d-block text-muted">
                {{ section[1].desc }}
                </span>
            </span>
            </li>                
        {% endfor %}   
    </ol>
    <span class="text-muted d-block mx-5" style="font-size:0.7rem;">&#8220;계속해서 흥미있는 코너가 곧 올라올 예정입니다. 많은 관심 부탁드립니다.&#8221;</span>

    <h4 class="mt-5 font-weight-bold spanborder"><span>관련 사이트</span></h4>  
    <ol class="list-featured">				
            <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="https://weas.info/" class="text-dark">WEAS</a>
                </h6>
                <span class="d-block text-muted">
                구미 동아시아학 주요 단행본과 논문 해제목록 DB
                </span>
            </span>
            </li>                

            <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="https://cafe.daum.net/gomoonza" class="text-dark">동아시아 출토문헌 연구회</a>
                </h6>
                <span class="d-block text-muted">
                 문학/사학/철학 연구자들이 참여하는 동아시아 출토문헌 학술모임
                </span>
            </span>
            </li>                

            <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="https://contents.premium.naver.com/dcbin/knowledge" class="text-dark">고대 중국: 미래로 전달되는 과거 (네이버 프리미엄 컨텐츠)</a>
                </h6>
                <span class="d-block text-muted">
                고대 중국의 지적 유산을 다룬다. 고대 중국의 역사에 대하여 그 출발점부터 시작하여 사상과 문화를 중심으로 진 나라 통일제국 이전까지 논의한다.
                </span>
            </span>
            </li>
    </ol>

</div> 
