
<ul class="nav bd-sidenav">
  <li class="active bd-sidenav-active">
    <a href="{{site.baseurl}}/about.html">ABOUT IREC</a>
    <p>
    연구소를 소개합니다. IREC은 고대문명연구소의 약어입니다.
    </p>
  </li>
  <li class="active bd-sidenav">
    <a href="{{site.baseurl}}/people.html">PEOPLE</a>
    <p>
    연구소 운영진을 소개합니다. 선사시대와 고대 문명, 그리고 유전학과 디지털 전문가들이 함께하고 있습니다.
    </p>
    <ul>
      <li>선사시대 : 박성진</li>
      <li>메소포타미아 : 강후구, 김아리</li>
      <li>이집트 : 곽민수, 유성환</li>
      <li>인도 : 김용준</li>
      <li>중국 : 김용하, 심재훈</li>
      <li>로마 : 반기현</li>
      <li>인류유전학 : 정충원</li>
      <li>디지털역사학 : 김광림</li>
    </ul>
  </li>
  <li class="active bd-sidenav mt-3">
    <a href="{{site.baseurl}}/contact.html">CONTACT US</a>
    <p>
    고대문명연구소에 오신 것을 환영합니다. 저희에게 궁금한 것이 있으면 언제든 연락주세요!
    </p>
  </li>
</ul>
