
<ul class="nav bd-sidenav">
  <li class="active bd-sidenav-active">
    <a href="{{site.baseurl}}/about.html">ABOUT IREC</a>
    <p>
    연구소를 소개합니다. IREC은 고대문명연구소의 약어입니다.
    </p>
  </li>
  <li class="active bd-sidenav">
    <a href="{{site.baseurl}}/people.html">PEOPLE</a>
    <p>
    연구소 운영진과 필진을 소개합니다. 현재 선사시대를 포함해 메소포타미아, 이집트, 인도, 중국, 로마 전공자들이 있습니다.
    </p>
    <ul>
      <li>선사시대 : 박성진</li>
      <li>메소포타미아 : 강후구, 김아리</li>
      <li>이집트 : 곽민수, 유성환</li>
      <li>인도 : 김용준</li>
      <li>중국 : 김용하, 심재훈</li>
      <li>로마 : 반기현</li>
      <li>디지털역사 : 김광림</li>
    </ul>
  </li>
  <li class="active bd-sidenav mt-3">
    <a href="{{site.baseurl}}/contact.html">CONTACT US</a>
    <p>
    고대문명연구소에 오신 것을 환영합니다. 저희에게 궁금한 것이 있으면 언제든 연락주세요!
    </p>
  </li>
</ul>
